h1 {
    color: gold;
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
    text-align: center;
}

h4 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

img {
    padding: inherit;
    margin:auto;
    display: block;

}

ul {
    color: maroon;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
}

a.back {
    font-family: 'Lucida Handwriting', 'Brush Script MT', serif;
    font-size: 60px;
    text-align: center;
    color: green;
}